MYSQL_ROOT_PASSWORD=replace_me
MYSQL_DATABASE=book_review_db
MYSQL_USER=bookreview_user
MYSQL_PASSWORD=replace_me

DB_HOST=mysql
DB_USER=bookreview_user
DB_PASS=replace_me
DB_NAME=book_review_db
DB_DIALECT=mysql

JWT_SECRET=replace_me
ALLOWED_ORIGINS=http://<VM_PUBLIC_IP>:<FRONTEND_PORT>
NEXT_PUBLIC_API_URL=http://<VM_PUBLIC_IP>:<BACKEND_PORT>
